/* Text Center */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-blue {
    background-color: #062e51;
}

.bg-black {
    background-color: black;
}

.bg-light-blue {
    background-color: #336ea2;
}

/* Buttons */

.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 2rem;
    border-radius: 7px;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: black;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-light {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.btn-light:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.btn-block {
    width: 100%;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Forms */

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;
}

